    table, tr, td {
      border: 1px solid black;
    }
    
    td {
      text-align: center;
    }
    
    button {
      border: 1px solid black;
    }
    
    #drawboard {
      display: grid;
      grid-template-columns: repeat(28, 20px);
      padding: 20px;
      width: max-content;
      background-color: #691607;
    }

    .cell {
      border: 1px solid black;
      width: 20px;
      height: 20px;
      text-align: center;
      margin: 0px;
      background-color: white;
      color: white;
      text-align: right;
    }

    .colored {
      background-color: black;
    }