<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
</head>
<body>
  <table id='ui'>
    <tr>
      <td rowspan=2>
        <div id='drawboard'></div>
      </td>
      <td id='textdisplay'>
        Hello! I'm Calypso, a neural network designed to read basic hiragana.<br>Please draw a hiragana character in the grid by holding down the mouse button and dragging. Move your mouse slowly to ensure smooth lines.<br><br>Variations of hiragana characters (sa, ki, ri, etc.) are acceptable, but dakuten/han-dakuten will not be recognized.
      </td>
    </tr>
    <tr>
      <td>
        <button id='clear'>Clear</button>
        <button id='submit'>Submit</button>
      </td>    
      </tr>
  </table>
  <script src="/static/script.js"></script>
</body>
</html>
